<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="resource.BootcampMapper">
  	 <select id = "totalRowCount" parameterType="vo.BootcampVO" resultType="int">
       select count(*) from bootcamp
    </select>
  	
  	<select id="selectBootcamp"  resultType="vo.BootcampVO" parameterType="vo.PagingVO" >
        <!-- 전체 부트캠프 목록 가져오기 -->
        select bnum,program,academy,logo, img, url, address,visible,mnum,rw from 
      (select bnum, program,academy, logo, img, url, address,visible,mnum, rownum rw from bootcamp)
      where rw between #{firstRow} and #{lastRow}
       
    </select>
  	
 	
 	<select id="selectBootcampOne"  resultType="vo.BootcampVO" parameterType="_int" >
 		<!-- 부트캠프 고유번호로 부트캠프 찾기 -->
    	select bnum,program,academy,logo,img,url,address,visible,mnum from bootcamp where bnum = #{bnum} 
 	</select>
 	
 	   
 	<insert id="insertMember"  parameterType="vo.BootcampVO">
 		<!-- 회원의 부트캠프 등록 요청 => visible이 무조건 0으로 들어감 -->
  		<selectKey resultType="_int" keyProperty="bnum" order="BEFORE">
      		select bootcampseq.nextval from dual     
    	</selectKey>  
    		insert into bootcamp (bnum, program, academy, logo, img, url, address, visible, mnum) values (#{bnum}, #{program},#{academy}, #{logo}, #{img}, #{url}, #{address}, 0, #{mnum})
	</insert>
	
	<insert id="insertManager"  parameterType="vo.BootcampVO">
 		<!-- 관리자 부트캠프 등록  => visible이 무조건 1으로 들어감 -->
  		<selectKey resultType="_int" keyProperty="bnum" order="BEFORE">
      		select bootcampseq.nextval from dual     
    	</selectKey>  
    		insert into bootcamp (bnum, program, academy, logo, img, url, address, visible, mnum) values (#{bnum}, #{program},#{academy}, #{logo}, #{img}, #{url}, #{address}, 1, #{mnum})
	</insert>
	
	<select id="searchBootcamp" resultType="vo.BootcampVO" parameterType="java.lang.String">
		<!-- 부트캠프 과정명으로 검색 -->
    	select bnum,program,academy,logo,img,url,address,visible,mnum from bootcamp where program like '%'||#{keyword}||'%'
    </select>
    
	<delete id="deleteBootcamp"  parameterType="_int"  >
		<!-- 부트캠프 삭제 -->
    	delete from bootcamp where bnum = #{bnum}
	</delete>
	
	<select id="updateBootcamp"  parameterType="vo.BootcampVO">
		<!-- 부트캠프 수정 -->     	
    	update bootcamp set program = #{program}, academy = #{academy}, logo = #{logo}, 
    	img = #{img}, url = #{url}, address = #{address}, visible = #{visible}, mnum = #{mnum} where bnum = #{bnum} 
 	</select>
 	
 	<select id="updateManager"  parameterType="vo.BootcampVO">
		<!-- 관리자의 승인을 받은 부트캠프를 visible 1로 설정한다. -->     	
    	update bootcamp set visible = 1 where bnum = #{bnum} 
 	</select>
  </mapper>